{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Welcome Sonam</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn" style="background: linear-gradient(90deg, #ff6200, #ff8533); color: white; border: none;">
            Profile
          </a></li>

      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
      <h4>Change Your Password</h4>
      <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
        {% endfor %}
        <button type="submit" class="btn" style="background: linear-gradient(90deg, #ff6200, #ff8533); color: white; border: none;">
        Submit
        </button>

      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
